<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yankie.learn.provider.dao.ProductBrandMapper" >
  <resultMap id="BaseResultMap" type="com.yankie.learn.provider.entity.ProductBrand" >
    <id column="brand_id" property="brandId" jdbcType="BIGINT" />
    <result column="brand_name" property="brandName" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="brand_url" property="brandUrl" jdbcType="VARCHAR" />
    <result column="brand_logo" property="brandLogo" jdbcType="VARCHAR" />
    <result column="show_order" property="showOrder" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="last_updated_date" property="lastUpdatedDate" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.yankie.learn.provider.entity.ProductBrand" extends="BaseResultMap" >
    <result column="brand_introduction" property="brandIntroduction" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    brand_id, brand_name, type, brand_url, brand_logo, show_order, create_by, create_date, 
    last_updated_by, last_updated_date, delete_flag
  </sql>
  <sql id="Blob_Column_List" >
    brand_introduction
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from product_brand
    where brand_id = #{brandId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product_brand
    where brand_id = #{brandId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yankie.learn.provider.entity.ProductBrand" >
    insert into product_brand (brand_id, brand_name, type, 
      brand_url, brand_logo, show_order, 
      create_by, create_date, last_updated_by, 
      last_updated_date, delete_flag, brand_introduction
      )
    values (#{brandId,jdbcType=BIGINT}, #{brandName,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{brandUrl,jdbcType=VARCHAR}, #{brandLogo,jdbcType=VARCHAR}, #{showOrder,jdbcType=INTEGER}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{lastUpdatedBy,jdbcType=VARCHAR}, 
      #{lastUpdatedDate,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=BIT}, #{brandIntroduction,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yankie.learn.provider.entity.ProductBrand" >
    insert into product_brand
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="brandId != null" >
        brand_id,
      </if>
      <if test="brandName != null" >
        brand_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="brandUrl != null" >
        brand_url,
      </if>
      <if test="brandLogo != null" >
        brand_logo,
      </if>
      <if test="showOrder != null" >
        show_order,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by,
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date,
      </if>
      <if test="deleteFlag != null" >
        delete_flag,
      </if>
      <if test="brandIntroduction != null" >
        brand_introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="brandId != null" >
        #{brandId,jdbcType=BIGINT},
      </if>
      <if test="brandName != null" >
        #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="brandUrl != null" >
        #{brandUrl,jdbcType=VARCHAR},
      </if>
      <if test="brandLogo != null" >
        #{brandLogo,jdbcType=VARCHAR},
      </if>
      <if test="showOrder != null" >
        #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null" >
        #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="brandIntroduction != null" >
        #{brandIntroduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yankie.learn.provider.entity.ProductBrand" >
    update product_brand
    <set >
      <if test="brandName != null" >
        brand_name = #{brandName,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="brandUrl != null" >
        brand_url = #{brandUrl,jdbcType=VARCHAR},
      </if>
      <if test="brandLogo != null" >
        brand_logo = #{brandLogo,jdbcType=VARCHAR},
      </if>
      <if test="showOrder != null" >
        show_order = #{showOrder,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdatedBy != null" >
        last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdatedDate != null" >
        last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=BIT},
      </if>
      <if test="brandIntroduction != null" >
        brand_introduction = #{brandIntroduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where brand_id = #{brandId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.yankie.learn.provider.entity.ProductBrand" >
    update product_brand
    set brand_name = #{brandName,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      brand_url = #{brandUrl,jdbcType=VARCHAR},
      brand_logo = #{brandLogo,jdbcType=VARCHAR},
      show_order = #{showOrder,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT},
      brand_introduction = #{brandIntroduction,jdbcType=LONGVARCHAR}
    where brand_id = #{brandId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yankie.learn.provider.entity.ProductBrand" >
    update product_brand
    set brand_name = #{brandName,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      brand_url = #{brandUrl,jdbcType=VARCHAR},
      brand_logo = #{brandLogo,jdbcType=VARCHAR},
      show_order = #{showOrder,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      last_updated_by = #{lastUpdatedBy,jdbcType=VARCHAR},
      last_updated_date = #{lastUpdatedDate,jdbcType=TIMESTAMP},
      delete_flag = #{deleteFlag,jdbcType=BIT}
    where brand_id = #{brandId,jdbcType=BIGINT}
  </update>
</mapper>